# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For the vast majority of the browser that support ES2015, applications are failing with big bundles
# instead of the 2-3KB bundles.

last 1 Chrome version
last 1 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS Safari major versions
Firefox ESR
